
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;  
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

#logo {
    text-decoration: none;
    color: #e9ecef;
}


nav ul a {
    color: #e9ecef;
    text-decoration: none;
}

h3 {
    color: black;
    font-size: 22px;
    margin: 40px 0;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;         
    width: 80%;        
    margin: 0 auto;    
    padding-bottom: 50px;
}

section article {
    flex: 1 1 280px;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 100%;
    height: auto;
    display: block;
}

section p {
    color: #6c757d;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 670px) {
    header { 
        flex-direction: row; 
        align-items: center; 
    }
    #logo { 
        font-size: 40px; 
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    nav ul li {
        text-align: right; 
    }

    nav ul li a {
        background-color: gray;
        color: white;
        display: inline-block;
        width: 90px;        
        text-align: left;   
        padding-left: 5px;  
    }

    section { 
        width: 90%; 
        margin: 0 auto;
    }
    section article { 
        flex: 1 1 100%; 
        max-width: none;
     }

     section p {
        font-size: 18px;
     }
    

}


